.content{
  flex-direction: row-reverse;
}

.sash-left{
  left: auto !important;
  right: 0 !important;
}

div.content > div.preview {
  transform: translateX(0);
}

.markdown-view .scroll-to-top {
  bottom: 40px !important;
}

.markdown-view .markdown-body .custom-container.group .group-item-radio {
  display: none;
}
